* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* CONTENT */
#search-container {
    display: grid;
    grid-template-columns: 2fr 8fr;
    grid-template-rows: 50px;
    grid-column-gap: 45px;
    align-items: center;
}

#search-container .logo-container {
    width: 100%;
    height: 100%;
}

#search-container .logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
